* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    padding-top: 67px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 67.2px;
    background-color: white;
    padding: 12px 28px;
    display: flex;
    justify-content: space-around;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;

}


.logo {
    width: 949.05px;
    height: 43.2px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */

}

.logo button {
    width: 44px;
    height: 40px;
    padding: 8px 8px 8px 12px;
}

.logo input {
    width: 709.5px;
    height: 40px;
}

.logo button {
    border: none;
    border-radius: 8px 0px 0px 8px;
}

.logo button {
    display: flex;
    justify-content: center;
    background-color: #f0f5ff;
}

.logo button img {
    width: 24px;
    height: 24px;

}

#logo {
    width: 159px;
    height: 39px;
    margin-right: 20px;

}

#search {
    display: flex;
    /* border: 2px solid black; */
    margin-top: 1.5px;
}

#search input {
    border: none;
    background-color: #f0f5ff;
    border-radius: 0px 8px 8px 0px;
    font-size: 112%;
    padding-top: 2px;
    outline: none;
}

.menubar {
    width: 530.95px;
    height: 41.6px;
    display: flex;
    align-items: center;
}

.menubar .profile {
    width: 151.06px;
    height: 41.06px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px;
}

.menubar .profile .profilechild {
    width: 111.06px;
    height: 41.6px;

    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-top: 1px;
    letter-spacing: 0.5px;
}

.loginpage {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.menubar .profile .profilechild:hover {
    background-color: #2a55e5;
    border: none;
    border-radius: 8px;
}

.menubar .profile .profilechild img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 5px;
}

#downarrow {
    width: 8px;
    height: 8px;
    margin-left: 11px;
    margin-bottom: 3px;
}

#downarrow:hover {
    transform: rotate(-180deg);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

#search input::placeholder {
    letter-spacing: 0.3px;

}

.cart .cartbox {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 2px;
    letter-spacing: 0.5px;
}

.cart div span {
    align-items: center;
    width: 32.44px;
}

.cartbox {
    width: 32px;
    height: 24px;

}

#cart {
    width: 24px;
    margin: 0px 8px 0px 0px;
}

.seller .bas {
    display: flex;
    align-items: center;
    margin-left: 73px;
    margin-top: 2px;
    letter-spacing: 0.2px;
}

#selling {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.dots {
    width: 81.6px;
    height: 41.6px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin-top: 1px;
    margin-left: 1px;
    padding-left: 40px;
}

.dotsbox {
    width: 71.6px;
    height: 41.6px;
    padding-left: 39px;
    margin-left: 1px;
}

.dotsbox:hover {
    border: 1px solid #e0e0e0;
    background: #fafafa;
    border-radius: 8px;
}

.dots #dot3 {
    width: 24px;
    height: 24px;
    margin-left: -32px;
    margin-top: 8px;
}


body {
    background-color: #f2f2f2;
}

.frow {
    width: 1503.99px;
    height: 126px;
    background-color: white;
    margin: 8px 16px;
    display: flex;

}

.minutebox {
    width: 130px;
    height: 126px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 128px;
    padding: 16px 16px 16px 24px;
}

.minutebox2 {
    width: 90px;
    height: 92.8px;

}

.minutebox .minuteboximg {
    width: 90px;
    height: 64px;
    display: flex;
    align-items: center;
    margin-left: 9px;
}

.frowtext {
    margin-left: 14px;
    margin-top: 11px;
}

.frowtext span {
    width: 90px;
    height: 16.8px;
    text-align: center;
    font-size: 15px;
    margin-top: 7px;
    font-weight: 520;
    text-align: center;
}

.mobilebox {
    width: 152.6px;
    height: 126px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.mobilebox2 {
    height: 92.8px;
    width: 120.6px;
}

.mobileboximg img {
    margin-left: 24px;
}

.frowtext2 {
    width: 120.6px;
    height: 16.8px;
    margin-top: 8px;
}

.frowtext2 span {
    text-align: center;
    font-size: 15px;
}

/* fashion */
.fashionbox {
    width: 122px;
    height: 126px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.fashionbox2 {
    height: 92.8px;
    width: 90px;
}

.fashionboximg img {
    margin-left: 8px;
}

.frowtext3 {
    width: 120.6px;
    height: 16.8px;
    margin-top: 8px;
}

.frowtext3 span {
    text-align: center;
    font-size: 15px;
    margin-left: 12px;
}

/* electronics */
.electronicbox {
    width: 123.49px;
    height: 126px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.electronicbox2 {
    width: 91.49px;
    height: 92.8px;
}

.electronicboximg img {
    margin-left: 9px;
}

.frowtext4 {
    width: 91.49px;
    height: 16.8px;
    margin-top: 8px;
}

.frowtext4 span {
    text-align: center;
    font-size: 15px;
    margin-left: 5px;
}

/* furniture */
.furniturebox {
    width: 165.76px;
    height: 126px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.furniturebox2 {
    width: 133.76px;
    height: 92.8px;
}

.furnitureboximg img {
    margin-left: 31px;
}

.frowtext5 {
    width: 133.76px;
    height: 16.8px;
    margin-top: 8px;
}

.frowtext5 span {
    text-align: center;
    font-size: 15px;
    margin-left: 14px;
}

/* tv */
.tvbox {
    width: 150.86px;
    height: 126px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.tvbox2 {
    width: 118.86px;
    height: 92.8px;
}

.tvboximg img {
    margin-left: 23px;
}

.frowtext6 {
    width: 118.86px;
    height: 16.8px;
    margin-top: 8px;
    margin-left: 3px;
}

.frowtext6 span {
    text-align: center;
    font-size: 15px;
}

/* flight bookings */
.flightbox {
    width: 136.45px;
    height: 126px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.flightbox2 {
    width: 104.45px;
    height: 92.8px;
}

.flightboximg img {
    margin-left: 17px;
}

.frowtext7 {
    width: 104.45px;
    height: 16.8px;
    margin-top: 8px;
    margin-left: -2px;
}

.frowtext7 span {
    text-align: center;
    font-size: 15px;
}

/* beauty and foor */
.beautybox {
    width: 144.84px;
    height: 126px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.beautybox2 {
    width: 112.84px;
    height: 92.8px;
}

.beautyboximg img {
    margin-left: 21px;
}

.frowtext8 {
    width: 112.84px;
    height: 16.8px;
    margin-top: 8px;
    margin-left: 4px;
}

.frowtext8 span {
    text-align: center;
    font-size: 15px;
}

/* grocery */
.grocerybox {
    width: 130px;
    height: 126px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.grocerybox2 {
    width: 90px;
    height: 92.8px;
}

.groceryboximg img {
    margin-left: 17px;
}

.frowtext9 {
    width: 90px;
    height: 16.8px;
    margin-top: 8px;
    margin-left: 22px;
}

.frowtext9 span {
    text-align: center;
    font-size: 15px;
}

.banner {
    width: 1503.99px;
    height: 249.48px;
    margin: 18px 16px 0px 16px;
}

.bannerimg img {
    width: 1503.99px;
    height: 249.48px;

}

.banner .btn {
    width: 40px;
    height: 88px;
    background-color: white;
    border: none;
    position: relative;
}

.leftbtn {
    border-radius: 0px 4px 4px 0px;
    left: 0px;
    bottom: 161px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12);

}

.rightbtn {
    border-radius: 4px 0px 0px 4px;
    right: -1419.5px;
    bottom: 161px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12);
}

.btn img {
    width: 10px;
}

.belowbanner {
    width: 1504px;
    height: 24px;
    background-color: white;
    margin-left: 16px;
}

.topdeals {
    width: 1250.66px;
    height: 62px;
    margin-top: 16px;
    background-color: white;
    padding: 16px;
}

.topdealstxt1 {
    width: 1218.66px;
    height: 30px;
}

.containertopdeals {
    width: 1250.66px;
    height: 256px;
    padding: 0px 0px 12px 4px;
    background-color: white;
    display: flex;

}

.projectorbox {
    width: 216px;
    height: 244px;

}

.projectorboximg {
    width: 200px;
    height: 228px;
    padding: 12px 24px;
}

.imgBox {
    width: 152px;
    height: 152px;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imgBox img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.topdealstext1 {
    padding-top: 12px;
    width: 152px;
    height: 52px;
}

.topdealstext1 div {
    text-align: center;
}

.txt2 {
    padding-top: 2px;
    font-size: 14px;
    font-weight: 600;
}

.projectorboximg2 img {
    width: 152px;
    height: 152px;

}

.rightbtn2 {
    width: 10px;
    border-radius: 4px 0px 0px 4px;
    bottom: -70px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12);
}

.btn2 img {
    width: 10px;

}

.btn2 {
    width: 40px;
    height: 88px;
    background-color: white;
    border: none;
    position: relative;

}

.thirdsection {
    display: flex;
}

.filghtbox2 {
    display: flex;
    justify-content: right;
    width: 237.33px;
    height: 364.46px;
    margin-left: 1250px;
}

.flightboximg2 img {
    width: 100%;
    height: 100%;
}

.thirdrow {
    display: flex;
    height: 348.46px;
}

.thirdrowimg {
    width: 237.33px;
    height: 364.46px;
    padding-bottom: 19px;
}

.thirdrowimg img {
    width: 107%;
    height: 100%;
    padding: 10px 0px 0px 16px;
}

.thirdrow1 {
    margin-left: 16px;
    width: 1250.66px;
    height: 348.46px;
    /* border: 2px solid black; */
}

.fourthrow {
    width: 1503.99px;
    height: 678.64px;
    margin-left: 16px;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}

.fourthrow1 {
    /* border: 1px solid black; */
    height: 662.65px;
    width: 490.66px;
    background-color: white;
}

.fourthrow3 {
    /* border: 1px solid black; */
    width: 490.66px;
    height: 663.64px;
    padding-inline-start: 4px 0px;
}

.fourthrow3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fthrowtopdeals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490.66px;
    height: 80px;
    padding: 16px;
}

.bluearrow {
    width: 24px;
    height: 24px;

}

.bluearrow img {
    margin-left: -4px;
    margin-top: 2px;
    width: 24px;
    height: 24px;
    background-color: rgb(42, 85, 229);
    border-radius: 50%;
    padding: 5px;
}

.row4thtxt1 {
    font-size: 22px;
    font-weight: 570;
}

.row4thcontents {
    width: 490.66px;
    height: 582.65px;
    /* border: 2px solid black; */
    padding: 0px 12px 4px 12px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.row4thinside {

    width: 233.33px;
    height: 289.33px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.row4thinsidechild {

    width: 233.33px;
    height: 289.33px;
    padding-bottom: 12px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

.row4thinsidechild1 {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background-color: #fff;
    width: 223.73px;
    height: 281.33px;
    padding: 12px 12px 0px 12px;
}

.row4thimgbox {
    width: 199.73px;
    height: 191.73px;
    padding: 8px 8px 0px 8px;
}

.row4thimgbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.row4thimgbox img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.row4thboxtxt {
    width: 199.73px;
    height: 64px;
    padding-top: 16px;
}

.row4thboxtxt1 {
    font-size: 18px;
    height: 24px;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
}

.row4thboxtxt2 {
    font-size: 14px;
    color: #108934;
    font-size: 17px;
    font-weight: bold;
    height: 24px;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
}

footer {
    width: 1536px;
    height: 2909.2px;
    margin-top: 25px;
    color: #666;

}

.firstsectionfooter {
    width: 1536px;
    height: 618px;
    padding: 25px;

    color: #565656;
    line-height: 18px;
}

.content1st {
    width: 1486px;
    height: 52px;
    margin-top: 14px;
    padding: 14px 0px;
    font-weight: bold;
    font-size: 17px;
}

.content2nd {
    width: 1486px;
    height: 93px;
    margin: 4px 0px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.content3rd {
    width: 1486px;
    height: 39px;
    margin: 4px 0px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.content4th {
    width: 1486px;
    height: 21px;
    margin: 4px 0px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.content6th {
    width: 1486px;
    height: 57px;
    margin: 4px 0px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.secondsectionfooter {
    width: 1536px;
    height: 1936px;
    padding: 30px;
    color: #878787;
    font-size: 13px;
    line-height: 18px;
}

.secondsectionfooter h1 {
    width: 1476px;
    height: 16px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #878787;
}

.thirdsectionfooter {
    width: 1536px;
    height: 354.4px;
    background-color: #212121;
}

.footerone {
    width: 1536px;
    height: 245.6px;
    padding: 40px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
}

.footeronecontent {
    width: 193.44px;
    height: 205.6px;
}

.foctxt {
    margin-bottom: 12px;
    color: #878787;
    font-size: 12px;
}

.foctxt1 ul li {
    list-style: none;
}

.foctxt1 ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.footertwocontent1 {
    width: 287.51px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #454d5e;
}

.footertwocontent2 {
    width: 254.71px;
}

.sociallinkstxt {
    margin-bottom: 12px;
    color: #878787;
    font-size: 12px;
    margin-top: 21px;
}

.sociallinkslogo {
    width: 254.71px;
    height: 27.2px;
}

.sociallinkslogo ul {
    display: flex;

}

.sociallinkslogo ul li {
    list-style: none;
    margin-right: 20px;
}

.footertwo {
    width: 100%;
    height: 68.8px;
    margin-top: 40px;
    padding: 25px 0px;
    border-top: 1px solid #454d5e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerflex {
    width: 112.39px;
    height: 18px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.footerflex span {
    display: flex;
    width: 91.39px;
    height: 15.2px;
    font-size: 12px;
    align-items: center;
}

.footerflex1 span {
    width: 149.99px;
    height: 16px;
    font-size: 12px;
    align-items: center;
    color: white;
}

.footerflex2 {
    display: flex;
    width: 76.18px;
    height: 18px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footerflex3 {
    display: flex;
    width: 78.51px;
    height: 18px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footerflex4 {
    display: flex;
    width: 88.96px;
    height: 18px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    color: white;
}